{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>dofive</title>

    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Covid-19Crusher</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

        <a class="nav-link" href="home">Home </a>
      </li>
      <li class="nav-item">
        <li class="nav-item active">
        <span class="sr-only">(current)</span>
        <a class="nav-link" href="symptoms">Self Diagonsis<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="gethelp">Get Help</a>
      </li>
      <li class="nav-item">

        <a class="nav-link" href="help">Help Others</a>
      </li>
    </ul>
  </div>
</nav>
<div class= "logo">
<img src= "/static/images/i3.jpg" alt="get_help" width="80" height="80" class="float-left">
</div>
<main role="main" class="container">

  <div class="starter-template">
    <div class="do"></div>
    <h2>DoFive-Stay safe</h2><br>
    <h3><marquee behavior="scroll" direction="right"><font color="red">Fear not, you are safe.</font></marquee></h3>
      <img src="static/images/p.png" alt="Covid19" width=360 height="336" class="float-right">
      <br>
  <h5>Hey there, good to know that you are safe. However, as of now, there is no vaccination or cure for covid-19.Yet, you can protect yourself from this deadly virus in the following ways:
  <ul style="list-style-type:square;">
  <li>Wash your hands frequently with a alcohol based sanitizer or hand wash.</li>
  <li>Maintain social distancing</li>
  <li>Avoid touching eyes, nose and mouth</li>
  <li>Practice respiratory hygiene</li>
  <li>Avoid raw food like salads</li>
  <li>Stay indoors. In case you have to go out, put on a mask. After returning home, make sure that wash you hands throughly and sanitize your belongings</li>
</ul>
<br>
Covid-19 web tracker will help you check how far you are from the nearest Corona positive person. In case, you are within 1-1.5km we advise you to stay extra careful and take utmost precautions.<a href="https://www.coronatracker.in">Click here for the COVID19 India Tracker Web App</a>

  <!--<div class="custom-control custom-checkbox">
   <label for="bodytemp">Gender</label>
    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
    <label class="custom-control-label" for="customCheck">Check this custom checkbox</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div> -->

</main><!-- /.container -->
<script src="bootstrap/javascript.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
</html>
