{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>help</title>

    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<style> 
  body {
  background-image: url('static/images/hand1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
  
  
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  </head>
  <body>
  <% csrf_token %}
   <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Covid19Crusher</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      
        <a class="nav-link" href="home1">Home </a>
      </li>
      <li class="nav-item">
        
        <a class="nav-link" href="symptoms1">Self Diagonsis</a>
      </li>
      <li class="nav-item">
        
        <a class="nav-link" href="gethelp1">Get Help</a>
      </li>
      <li class="nav-item">
         <li class="nav-item active">
          <span class="sr-only">(current)</span>
        <a class="nav-link" href="help2">Help Others <span class="sr-only">(current)</span> </a>
      </li>
    </ul>
  </div>
</nav>
<div class= "logo">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSXG4a9uKKh6CwGGfnqOItrHTXUPS4qyX0ek3BYh67jTPYUvLM0&usqp=CAU" alt="get_help" width="80" height="80" class="float-left">
</div>
<main role="main" class="container">

  <div class="starter-template">

    <h1><b>-HELP BOARD-<b></h1><br><br>

    <h3> *HELP OTHERS* <h3> <br>
      <form action="">
        
    <div class="form-group">
    <div class = "col-sm-6">
    <label id="forms" for="forName">Name/Name of your organization</label>
    <input type="text" class="form-control" id="forName">
  </div>
  <br>
  <div class="form-group">
    <div class = "col-sm-4">
    <label id="forms" for="age">Phone Number</label>
    <input type="text" class="form-control" id="age">
    </div>
    <br>
    <div class="form-group">
    <div class = "col-sm-6">
    <label id="forms" for="age">Locality</label>
    <input type="text" class="form-control" id="age">
    </div>
    <br>
    <div class="form-group">
    <div class = "col-sm-6">
    <label id="forms" for="age">Number of people you want to help</label>
    <input type="text" class="form-control" id="age">
    </div>
    <br>
  </div>
</div>
</div>
</div>
<div class="radio3">
    <div class = "col-sm-6">
    <label id="forms" for="forTemp">Supplies</label>
    <br>
   <div class="custom-control custom-radio custom-control-inline">
           <input type="radio" class="custom-control-input" id="food" name="Supplies" value="customEx">
             <label class="custom-control-label" for="food">Food</label>
          </div><br>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="com" name="Supplies" value="customEx">
    <label class="custom-control-label" for="com">Commodity</label>
  </div><br>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="both" name="Supplies" value="customEx">
    <label class="custom-control-label" for="both">Both</label>
  </div><br>
</div>
</div>
<br> 
<div class="buttons">
   <div class = "col-sm-12">
<button type="button" class="btn btn-dark">Submit</button>
<button type="button" class="btn btn-secondary">Reset</button>
</div>







  <!--<div class="custom-control custom-checkbox">
   <label for="bodytemp">Gender</label>
    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
    <label class="custom-control-label" for="customCheck">Check this custom checkbox</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div> -->

</main><!-- /.container -->
<script src="bootstrap/javascript.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
</html>
